/* Chat Block Styling */

.cm-lang-iter {
	.edit-block-button {}

	&:hover {
		box-shadow: none !important;
	}


	/* no border on the top of the first .iter-chat-block */
	.iter-chat-block::before {
		content: none;
	}

	&~& {
		.iter-chat-block::before {
			content: '';
		}
	}

	.edit-block-button {
		top: unset;
		/* make this equal to some variable or something */
		bottom: 30px;
	}
}

.iter-chat-block {
	display: flex !important;
	flex-direction: column;
	gap: 2px;
	padding: 2px 0;

	--radius-chat: var(--radius-l);

	&::before,
	&::after {
		content: '';
		border: 2px solid var(--background-modifier-border);
		/* border: 1px solid var(--text-faint); */
		height: 20px;
	}

	&::before {
		border-top-color: transparent;
		border-radius: 0 0 var(--radius-chat) var(--radius-chat);
		margin-bottom: 4em;
		mask-image: linear-gradient(to bottom, transparent, black);
	}

	&::after {
		border-bottom-color: transparent;
		border-radius: var(--radius-chat) var(--radius-chat) 0 0;
		mask-image: linear-gradient(to top, transparent, black);

	}

}

.iter-chat-block-submit {
	gap: 12px;

	&::after {
		content: none;
	}

	&::before {
		margin: 0;
	}
}


.iter-block-header {
	display: flex;
	align-items: baseline;
	gap: 4px;
	font-size: var(--font-ui-small);
}

/* Persistent Footer - Flowing with content */

.iter-submit-container {
	width: 100%;
	display: flex !important;
	align-items: center;
	gap: 16px;
}