/* Region styling - refined for nesting */
.iter-region-line {
	/* border-inline: 1px solid var(--interactive-accent) !important; */
	/* background-color: var(--background-primary-alt) !important; */
	position: relative;

	&:after {
		content: "";
		position: absolute;
		inset: 0 -10px;
		background-color: var(--background-secondary) !important;
		pointer-events: none;
		z-index: -1;
	}
}

/* Inner elements should not inherit if nested */
.iter-region-line .iter-region-line {
	&:after {
		content: none;
	}
}

.iter-region-start {
	border-top: 1px solid var(--background-modifier-border) !important;
	border-top-left-radius: 6px !important;
	border-top-right-radius: 6px !important;
	margin-top: 15px !important;
}

.iter-region-end {
	border-bottom: 1px solid var(--background-modifier-border) !important;
	border-bottom-left-radius: 6px !important;
	border-bottom-right-radius: 6px !important;
	margin-bottom: 15px !important;
}

/* Control widget in region */
.iter-region-controls {
	display: inline-flex;
	gap: 8px;
	margin-left: 25px;
	padding: 2px 10px;
	background: var(--background-secondary);
	border: 1px solid var(--background-modifier-border);
	border-radius: 4px;
	vertical-align: middle;
	box-shadow: var(--shadow-s);
}

.iter-region-controls button {
	padding: 2px 10px;
	font-size: 0.85em;
	cursor: pointer;
}