/* Chat Block Styling */

.cm-lang-iter {
	.edit-block-button {}

	&:hover {
		box-shadow: none !important;
	}


	/* no border on the top of the first .iter-chat-block */
	.iter-chat-block::before {
		content: none;
	}

	&~& {
		.iter-chat-block::before {
			content: '';
		}
	}

	.edit-block-button {
		top: unset;
		/* make this equal to some variable or something */
		bottom: 0;
		right: 4px;
	}
}

.iter-chat-block {
	display: flex !important;
	flex-direction: column;
	gap: 4px;
	padding: 6px 0;

	--radius-chat: var(--radius-l);

	&::before,
	&::after {
		content: '';
		border: 2px solid var(--background-modifier-border);
		/* border: 1px solid var(--text-faint); */
		height: 20px;
	}

	&::before {
		border-top-color: transparent;
		border-radius: 0 0 var(--radius-chat) var(--radius-chat);
		margin-bottom: 4em;
		mask-image: linear-gradient(to bottom, transparent, black);
	}

	&::after {
		border-bottom-color: transparent;
		border-radius: var(--radius-chat) var(--radius-chat) 0 0;
		mask-image: linear-gradient(to top, transparent, black);

	}

}

.iter-chat-block-submit {
	gap: 12px;

	&::after {
		content: none;
	}

	&::before {
		margin: 0;
	}
}


.iter-block-header {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: var(--font-ui-small);
}

.iter-info {
	display: flex;
	align-items: center;
	gap: 6px;
	flex: 1 1;
}

.iter-controls {
	display: flex;
	align-items: center;
	gap: 2px;
}

.iter-role-container {
	display: flex;
	align-items: center;
	gap: 6px;
}

.iter-spacer {
	color: var(--text-faint);
}

.iter-metadata {
	color: var(--text-muted);
}

.iter-role {
	border-radius: 999px;
	height: 32px;
	width: 32px;
	background-color: var(--interactive-normal);

	/* from .clickable-icon  */
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--icon-color);
	-electron-corner-smoothing: var(--corner-smoothing);

	/* from .clickable-icon  */
	svg {
		opacity: var(--icon-opacity);
		transition: opacity var(--anim-duration-fast) ease-in-out;
	}
}


/* Persistent Footer - Flowing with content */

.iter-submit-container {
	width: 100%;
	display: flex !important;
	align-items: center;
	gap: 16px;
}